.bicycle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  align-items: start;
}

#bicycle .title p {
  text-transform: uppercase;
}

.bicycle-image {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.bicycle-image img {
  flex: 1;
  min-width: 200px;
}
.bicycle-image img:first-child {
  min-width: 100%;
}

.bicycle-content h2 {
  text-transform: uppercase;
  letter-spacing: 0.015em;
  margin-bottom: 0.5rem;
}
.bicycle-content > p {
  margin-bottom: 2rem;
}

.bicycle-buy {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 0.5rem 0.75rem;
  margin-bottom: 2.5rem;
}
.bicycle-buy a {
  grid-row: span 2;
}
.bicycle-buy span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-12);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.bicycle-information,
.bicycle-specification {
  padding: 2rem;
  background-color: var(--color-12);
  border-radius: 0.25rem;
}

.bicycle-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2.5rem;
}
.bicycle-information img {
  width: 1.5rem;
  margin-bottom: 0.5rem;
}
.bicycle-information h3 {
  margin-bottom: 0.5rem;
}

.bicycle-specification li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--color-11);
}
.bicycle-specification li:last-child {
  border-bottom: none;
}

.bicycle-specification span{
  color: var(--color-6);
}

@media (max-width: 800px) {
  .bicycle {
    grid-template-columns: 1fr;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .bicycle-image {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .bicycle-informations {
    grid-template-columns: 1fr;
  }
  .bicycle-buy {
    grid-template-columns: 1fr;
  }
}
