#contact{
  background-color: var(--color-1);
}

.contact-bg {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0);
}

.contact {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contact-content,
.contact-form {
  padding: 3.75rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contact-content {
  background: var(--color-12) url('../../img/dec/bottom-left.svg') no-repeat bottom 1.25rem left 1.25rem;
  border-radius: 5px 0 0 5px;
}

.contact-form {
  background-color: var(--color-1);
  border-radius: 0 5px 5px 0;
}

.contact-content h2 {
  margin-bottom: 3.75rem;
}

.contact-means a {
  display: block;
  width: max-content;
  padding-bottom: 0.5rem;
  padding-left: 1.75rem;
}
.contact-means a:first-child {
  background: url("../../img/icons/mail.svg") no-repeat;
}
.contact-means a:nth-child(2) {
  margin-bottom: 2rem;
}
.contact-means a:nth-child(3) {
  background: url("../../img/icons/phone.svg") no-repeat;
  margin-bottom: 3.75rem;
}
.contact-means a:hover {
  color: var(--color-0);
}

.contact-address {
  margin-bottom: 2rem;
  background: url("../../img/icons/local.svg") no-repeat;
  padding-left: 1.75rem;
}
.contact-address p {
  margin-bottom: 0.5rem;
}

.contact-media {
  display: flex;
  gap: 2rem;
  padding-left: 1.75rem;
}

.contact-media img{
  transition: 0.2s;
}

.contact-media img:hover{
  transform: translateY(-3px);
}

@media (max-width: 800px) {
  .contact-bg {
    background: linear-gradient(var(--color-11) 500px, var(--color-1) 0);
  }
  .contact {
    grid-template-columns: 1fr;
  }
  .contact-content,
  .contact-form {
    padding: 1.25rem;
  }
  .contact-content {
    border-radius: 5px 5px 0 0;
    background: var(--color-12);
  }
  .contact-form {
    border-radius: 0 0 5px 5px;
  }

  .contact-content h2 {
    margin-bottom: 2.5rem;
  }

  .contact-means a:nth-child(3) {
    margin-bottom: 2rem;
  }
  .contact-media {
    margin-bottom: 0.75rem;
  }
}
