.terms{
  margin-top: 80px;
  margin-bottom: 80px;
}

.terms h2{
  margin-bottom: 20px;
}

.terms p + h2{
  margin-top: 40px;
}

.terms p{
  max-width: 75ch;
  margin-bottom: 24px;
}

@media(max-width: 800px){
  .terms{
    margin-top: 60px;
    margin-bottom: 60px;
  }
}