
.container{
  max-width: 1200px;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

/*Button*/
.button{
  display: inline-block;
  color: var(--color-primary-5);
  background: linear-gradient(#FFBF00, #F2A50C);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 4px;
  /* font-size: 1.125rem;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600; */
  font: 600 1.125rem/1.35 'Poppins', sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.button:hover{
  background: linear-gradient(#ffb60d, #e59317);
}

.button.secondary{
  background: var(--color-10);
  color: var(--color-2);
}

.button.secondary:hover{
  background: var(--color-9);
}

.button.arrow{
  display: flex;
  align-items: center;
}

.button.arrow::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 0.75rem;
  background-image: url('../../img/icons/arrow.svg');
  transition: 0.2s;
}

.button.arrow:hover::after{
  transform: translateX(4px);
}

@media(max-width:600px){
  .button{
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

/*Link*/
.link{
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-primary-1);
  font: 600 1.5rem/1.5 "Poppins", sans-serif;
}

.link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;  
}

.link:hover{
  color: var(--color-0);
}

/*Internal Title*/
.title-bg{
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
  background-color: var(--color-11);
}

.title{
  background: url('../../img/dec/top-right.svg') no-repeat top right 1rem;
}

.title h1 {
  color: var(--color-0);
}

.title p{
  color: var(--color-5);
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media(max-width: 800px){
  .title-bg{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .title p{
    font-size: 1rem;
    text-transform: lowercase;
  }
}

@media(max-width: 600px){
  .title{
    background: var(--color-11);
  }
}