.testimony {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-primary-1);
  overflow: hidden;
}

.testimony img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.testimony-content {
  padding: 2.5rem 2.5rem 5rem 5rem;
  align-self: end;
}

.testimony-content p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 2rem;
  position: relative;
}

.testimony-content p::before,
.testimony-content p::after {
  font-size: 5rem;
  color: var(--color-primary-2);
  position: absolute;
}
.testimony-content p::before {
  content: '“';
  left: -70px;
  top: -20px;
}
.testimony-content p::after {
  content: '”';
}

@media (max-width: 800px) {
  .testimony {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .testimony img {
    max-height: 12.5rem;
  }
  .testimony-content {
    padding: 2.5rem 1.25rem;
    margin: auto;
  }
  .testimony-content p::before,
  .testimony-content p::after {
    font-size: 4rem;
  }
  .testimony-content p::before {
    left: -50px;
  }

}
@media (max-width: 600px) {
  .testimony-content p {
    font-size: 1.25rem;
  }
  .testimony-content p::before,
  .testimony-content p::after {
    font-size: 3rem;
  }
  .testimony-content p::before {
    left: -30px;
    top: -15px;
  }
}
